div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 0;
    max-width: 100%;
    background: #9cffeb;
}

#first {
    margin-top: 10px;
}

#creator {
    font-size: 12px;
}

#second {
    margin-bottom: 15px;
}

#audiojs_wrapper0 {
    margin-top: 15px;
}

form div div input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}