{% extends 'mySite/base.html' %}

{% block content %}

    <div id="content">
    </div>

    <a href="previous" id="previous" class="disabled">Previous</a>
    <a href="next" id="next" class="disabled">Next</a>

{% endblock content %}

{% block form %}
    {% if user.is_authenticated %}
        <form class="mt-4" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div>
                <h4>Upload your file</h4>
                {% for field in form_for_attachment %}
                        <label>{{ field.label }}</label>
                        <div>{{ field }}</div>
                {% endfor %}
            </div>

            {% for error in form_for_attachment.errors.file %}
                <div id="invalid-feedback" class="mb-3 ml-3">{{ error }}</div>
            {% endfor %}

            <button type="submit" class="btn btn-outline-success ml-3 mt-3">Upload</button>
        </form>
    {% endif %}
{% endblock form %}

{% block ajaxscript %}
    <script>
        $(document).ready(function(){
            var refer = 'next';
            ajax_pagination();
            function ajax_pagination(e) {
                if (e){
                    e.preventDefault();}
                if($(this).attr('href')){
                    refer = $(this).attr('href');
                }
                    $.ajax({
                        method: "GET",
                        url: refer,
                        data: {'identifier': refer},
                        dataType: 'json',
                        success: function(data){
                            console.log(data);
                            console.log(data.elements.length);
                            $('#content div').remove();
                            for(var i = 0; i < data.elements.length; i++){
                                var numb = data.elements[i].id;
                                var row = '<div id="first"><a href=\"attachment/' + numb + '\">' +
                                            String(data.elements[i].name) +
                                            '</a><p id="creator">Uploaded by ' +
                                            data.elements[i].owner +
                                            '  - ' +
                                            data.elements[i].date +
                                            '</p>';

                                $('#content').append(row);
                            }
                            if (!data.elements[0].prev){
                                $('#previous').addClass('disabled');
                            } else {
                                $('#previous').removeClass('disabled');
                            }
                            if (!data.elements[0].nxt){
                                $('#next').addClass('disabled');
                            } else {
                                $('#next').removeClass('disabled');
                            }
                        },
                        error: function(data){
                            console.log(data);
                        }
                    })
            }
            $('#next').click(ajax_pagination);
            $('#previous').click(ajax_pagination);
        })
    </script>
{% endblock ajaxscript %}
